html {
  background-color: #D8C8A8;
  background-image: url("assets/background.png");
  font-family: "Noto Sans SC", sans-serif;
}

@media only screen and (max-width: 600px) {
}

body {
  margin: 40px;
}

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-gap: 10px;
  background-color: #AD6D07;
  border-color: #590005;
  border-style: solid;
  border-width: 10px;
  border-radius: 30px;
  grid-template-areas:
    "header  header  header"
    "footer  footer  footer";
}

.header,
.footer {
  background-color: #B8B56A;
}

.header {
  text-align: center;
  border-radius: 10px;
  grid-column: 1/12;
  grid-row: 1;
}

.footer {
  text-align: center;
  border-radius: 10px;
  grid-column: 1/12;
  grid-row: 12;
}

.column1 {
  grid-column: 1/6;
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 100px);
}

.miniMessage {
  background-color: #ffd500;
  margin: 5px;
  border-radius: 2px;
  padding: 5px;
  font-size: 80%;
}

.column2 {
  display: grid;
}

.createMessage {
  border-color:#000000;
  border-radius: 2px;
  border-width: 5px;
  grid-column: 9/12;
  grid-row: 1/6;
}

.readMessage {
  grid-column: 6/12;
  grid-row: 5/12;
}
